
@media(max-width:768px){
    
    #sessao-principal{
        width: 100%;
        padding: 0 3rem
    }
    .box-texto h4 {
    margin: 15% 0 5% 0;
}
    
    #sessao-principal article:first-child{
        margin-bottom: 3rem
    }
    
    hr{
        width: 100%;
    }
    
    body{
        background: #FFF
    }
    
 
   
    #nav-inema ul{
           width: 80%;
    background-color:#2653698a;
    float: right;
    height: inherit
    }
    
    #nav-inema{
/*         background: #4f7384;*/
        height: 100vh;
        border-top: solid #bdced6 1px;
/*        background-blend-mode: color-burn;*/
        background-image: url(../img/bg-header.png);
    }
    
    #nav-inema ul li:hover{
        background: transparent;
        border-radius: none;
       
    }
    
    #nav-inema ul li a{
        
        margin-left: 5%;
        color:#cad5da;
    }
}


@media(max-width:586px){
    
    #sessao-principal .btn{
        width: 100%;
        margin: 0;
    }
   
    
        .box-texto h4 {
    margin: 30% 0 5% 0;
}
    
    #box-paragrafos p:nth-child(1){
        
        font-size: 26px
    }
    
      #box-paragrafos p:nth-child(2){
        
        font-size: 18px
    }
    
   
    
    
}